/*html {
	background-image: url('images/dark.jpg');
	background-size: cover;
}*/


.header{
	color: black;
	text-align: center;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
	align-content: center;
	
	
}


.login {
	background-color: yellow;
	margin: 50px;
	padding: 50px;
	border-radius: 20px;
	box-shadow: 10px 10px 5px grey;
}

.sign-up {
	background-color: yellow;
	margin:50px;
	padding:50px;
	border-radius: 20px;
	box-shadow: 10px 10px 5px grey;
}


.footer{
	color: black;
	bottom: 5px;
	display: inline-block;
	column-count: 3;
	column-rule: 1px solid black;
	
	
	
	
}















